.dark{
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: "Roboto";
    margin: auto;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 8px;
}
.header.logo{
    font-size: 24px;
}
.header.link{
    display: flex;
    justify-content: end;

}
