.dark{
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: "Roboto";
    margin: auto;
}
.info{
    font-weight: 900;
    font-size: 36px;
    color:#1F2937;
    font-family: "Roboto";
    text-align: center;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 8px;
}
.header.logo{
    font-size: 24px;
}
.header.link{
    display: flex;
    justify-content: end;

}
.dark.header.body{
    display: flex;
    flex-direction: row;
}
.dark.header.body.left{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 0px 30px;
}
#signup{
    width: 80px;
    height: 25px;
    background-color: #3882F6;
}
a {
  text-decoration: none;
  color:#F9FAF8
}
#freakyBob{
    display: flex;
    margin-top: 40px;
    align-self: center;
}

.hor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer{
    text-align: center;
    height: 40px;
    padding-top: 20px;
}
.quote{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-family: light;
    font-style: italic;
}
#author{
    display: flex;
    justify-content: center;
    margin-left: 50px;
    font-family: "Roboto";
    font-weight: 500;
}
.body03{
    background-color: #E5E7EB;
}
.body04{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F9FAF8;
    animation: pulse 20s infinite;
}
@keyframes pulse {
    0%, 100% {
      background-color: #f56a3f; /* initial and final color */
    }
    50% {
      background-color: #9e42b0; /* middle color */
    }
}
#logo{
    height: 20px;
    width: 40px;
}
.products{
    height: 80px;
    width: 130px;
}
#intro-photo{
    width: 600px;

}